<div class="alert alert-info alert-dismissable" style="margin-top:25px">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<h4>Introduction</h4>
	<p>a 7*7 Gomoku board is used here. Empty board is represented by the string '_______,_______,_______,_______,_______,_______,_______', every part separated by the comma represents one row of the board.</p>
	<p>The Gomoku bot that you can create is basically a function that determines its next move based on current board. That is, the function will return new board based on previous board and your player mark ('X' or 'O'). Three example bots written in JavaScript and Python are provided below.</p>
	<p>Once you have selected two bots, you can make them play and watch the steps and result by hitting the <b>Play Game</b> button.</p>
	<p><b>Note:</b> For now, <b>Javascript</b> and <b>Python</b> is supported, more language options will be added soon. Feel free to create your first Gomoku bot now!</p>
</div>

<br>
<div class="row">
  <div class="col-md-5">
    <p>
    <select class="form-control bot-select" ng-model="bot1" ng:change="set_bot_1(bot1)" ng-options="bot as bot.name for bot in bots" ng-init="bot1 = bots[0]"></select>
    </p>
    <p>
      <textarea readonly ng-model="bot1.code" name="solution" rows="12" cols="50"></textarea>
    </p>
  </div>

  <div class="col-md-5">
    <p>
    <select class="form-control bot-select" ng-model="bot2" ng:change="set_bot_2(bot2)" ng-options="bot as bot.name for bot in bots" ng-init="bot2 = bots[1]"></select>
    </p>
    <p>
    <textarea readonly ng-model="bot2.code" name="solution" rows="12" cols="50"></textarea>
    </p>
  </div>

  <div class="col-md-2" style="text-align:center">
    <button class="btn btn-block btn-primary btn-lg" style="margin-top:55px" type="submit" ng-click="play_game(bot1,bot2)">Play Game</button>
    <button class="btn btn-block btn-danger btn-lg" style="margin-top:40px" type="submit" ng-click="reset_game()">Reset Game</button>
  </div>
</div>

<div class="row">
  <div id="game-history-label" class="col-md-12">
    <h3 ng-show="gameStarted">Game History</h3>
  </div>
  <div class="col-md-3" ng-repeat="board in game_history">
    <table class="table table-bordered" style="width:175px;height:175px;text-align:center" >
      <tr ng-repeat="line in board.split(',') track by $index">
        <td ng-repeat="char in line track by $index" style="width:25px;height:25px;padding:0;border-color:black">
          {{(char=='_')?' ':char}}
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-12">
    <h4 ng-show="gameStarted">Winner: <b style="color:red">{{winner}}</b></h4>
  </div>
</div>
<br>