<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
  <title>Gomoku - Beat The Bots</title>

  <meta property="fb:admins" content="732207250">
  
  <link rel="icon" type="img/ico" href="img/gomoku.ico">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="js/ga.js"></script>
  
</head>

<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=799847796709365";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  FB.Event.subscribe('message.send', function(targetUrl) {
  _gaq.push(['_trackSocial', 'facebook', 'send', targetUrl]);
  });
  </script>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container" ng-cloak>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Gomoku Bots</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul id="navbar" class="nav navbar-nav" ng-controller="SimpleAccessController">
          <li id="playground" class="active"><a href="#/playground" class="glyphicon glyphicon-tree-conifer"> Playground</a></li>
          <li id="workshop"><a href="#/workshop" class="glyphicon glyphicon-edit"> Workshop</a></li>
          <li id="arena" ng-show="uid"><a href="#/arena" class="glyphicon glyphicon-tower"> Arena</a></li>
          <li id="stats" ng-show="uid"><a href="#/stats" class="glyphicon glyphicon-stats"> Statistics</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-controller="LoginController">
          <li ng-show="auth.user">
            <a href="">Hello {{auth.user.name}}!</a>
          </li>
          <li ng-show="auth.user">
            <a href="" ng-click="auth.$logout()">Logout</a>
          </li>
          <li class="dropdown" ng-hide="auth.user">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="" ng-click="auth.$login('facebook')">with Facebook account</a></li>
              <li><a href="" ng-click="auth.$login('google')">with Google account</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>

  <br>
  <div class="fb-share-button" style="float:right;margin-right:45px" data-href="http://gomoku-crowd-bots.herokuapp.com" data-type="button_count"></div>
  <div style="float:right;margin-right:20px">
    <g:plusone align="right" size="medium"></g:plusone>
  </div>
  
  
  <div class="container">
    <div ng-view></div>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-route.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="//cdn.firebase.com/js/client/1.0.6/firebase.js"></script>
  <script src="//cdn.firebase.com/js/simple-login/1.3.0/firebase-simple-login.js"></script>
  <script src="//cdn.firebase.com/libs/angularfire/0.7.0/angularfire.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/controllers.js"></script>

  <!-- Place this tag after the last +1 button tag. -->
  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/platform.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  
</body>

</html>